/// Homepage Styles File

@use "../../../global-styles/style.scss";
@use "../../../global-styles/styles/fonts.scss";
@use "../../../global-styles/styles/normalize.scss";
@use "../../../global-styles/styles/root.scss";

$widthOfCard: 324px;
$heightOfCard: 414px;
$borderStyle: solid 1px var(--color-border);
$borderRadius: 24px;
$paddingOfCard: 32px;
$marginTopOfPrice: 16px;
$fontSizeDolar: 16px;
$marginBottomOfDolar: 30px;
$marginTopOfPlan: 24px;
$widthOfPlan: 244px;
$marginTopOfList: 16px;
$iconOfList: url(../../../../assets/images/Frame\ 1000003303.png);
$paddingLeftOfList: 20px;
$btnBottom: 32px;
$widthOfCardTablet: 674px;
$heightOfCarTablet: 278px;
$positionOfPriceTablet: absolute;
$topOfPriceTablet: 32px;
$rightOfPriceTablet: 32px;
$marginOfPriceTablet: 0;
$rightOfBtnTablet: 32px;
$leftOfPriceMobile: 0px;
$widthOfCardMobile: 260px;
$paddingOfCardMobile: 20px;
$btnWidtchMobile: 200px;
$widthOfPlanMobile: 200px;
$leftOfBtnMobile: 20px;

      
.title{
    color: var(--color-primary);
    width: 250px;
    gap: 16px;
    margin: 0 auto;
    text-align: center;
    line-height: 22px;
    padding-top: 5%;
    }

.content{
    width: 100%;
    margin-top: 48px;
    gap: 16px;

    &__card{
        position: relative;
        width: $widthOfCard;
        height: $heightOfCard;
        background-color: var(--color-background-of-element);
        border: $borderStyle;
        border-radius: $borderRadius;
        padding: $paddingOfCard;
    }

    &__price{
        height: 42px;
        margin-top: $marginTopOfPrice;

        h5{
            font-size: $fontSizeDolar;
            margin-bottom: $marginBottomOfDolar;
        }
    }

    &__plan{
        margin-top: $marginTopOfPlan;
        width: $widthOfPlan;
    }

    &__list{
        margin-top: $marginTopOfList;
        list-style-image: $iconOfList;
        color: var(--color-primary);
        padding-left: $paddingLeftOfList;
    }

    &__btn{
        bottom: $btnBottom;
    }

    &__btn:hover{
        background-color: var(--color-hover);
    }

    &_card-professional{
        background-color: var(--color-primary);
        color: var(--color-background-of-element);
    }

    &_list-professional{
        color: var(--color-background-of-element);
    }

    &_btn-professional{
        background-color: var(--color-center-button);
    }
}

@media screen and (max-width: 1024px){

    .content{
        &__card{
            width: $widthOfCardTablet;
            height: $heightOfCarTablet;
        }

        &__price{
            margin: $marginOfPriceTablet;
            position: $positionOfPriceTablet;
            top: $topOfPriceTablet;
            right: $rightOfPriceTablet;
        }

        &__btn{
            right: $rightOfBtnTablet;
        }
    
    }
}

@media screen and (max-width: 540px){
    .content{
        &__card{
            width: $widthOfCard;
            height: $heightOfCard;
        }
    
        &__price{
            position: relative;
            top: $marginTopOfPrice;
            left: $leftOfPriceMobile;
        }
    }
}


@media screen and (max-width: 280px) {

    .title{
        width: 230px;
        }

    .content{
                
        &__card{
            width: $widthOfCardMobile;
            height: $heightOfCard;
            padding: $paddingOfCardMobile;
        }

        &__plan{
            width: $widthOfPlanMobile;
        }

        &__btn{
            width: $btnWidtchMobile;
            left: $leftOfBtnMobile;
        }
    }
}
